@import "./variable.scss";
.about {
	flex-grow: 1;
	flex-basis: 325px;
	max-width: 350px;
	background-color: $secondary-color;
	border: 10px solid $light-color;
	border-radius: 20px;
	padding: 20px;
	display: grid;
	grid-template-rows: 3fr;
	grid-auto-flow: row;
	& span {
		font-size: 1.1rem;
		color: $dark-color;
	}
}
@include devices(tablet) {
	.about--ts {
		grid-row-start: 1;
		grid-row-end: 2;
		border-radius: 0;
		border: unset;
		max-width: 100%;
		background-color: $fourth-color;
		& span,
		h2,
		h3 {
			font-size: 1.1rem;
			margin-bottom: 0.7rem;
			color: $light-color;
		}
		a {
			color: #b09bf4;
		}
	}
}
@include devices(mobile) {
	.about--ts {
		& br {
			display: block;
			content: "";
			margin-top: 0;
		}
	}
}
@include devices(desktop-1) {
	.about {
		max-width: unset;
	}
}
