@import "./variable.scss";
.about {
	box-sizing: border-box;
	width: 33%;
	background-color: $third-color;
	border: 5px solid $light-color;
	border-radius: 10px;
	margin: 5vh 0 0;
	padding: 15px 20px 10px;
	// box-shadow: 0 0 6px $primary-color;
	& p {
		text-align: justify;
		margin-bottom: 0.5rem;
		font-size: 1.1rem;
		color: $dark-color;
	}
	&--ts {
		width: 100%;
		border-radius: 0;
		border: unset;
		margin: 2vh 0;
		& p {
			font-size: 1.1rem;
			margin-bottom: 0.7rem;
		}
	}
}
