@import "./variable.scss";
.about {
	flex-basis: 330px;
	flex-grow: 9999;
	background-color: $primary-color;
	box-sizing: border-box;
	padding: 20px;
	display: grid;
	grid-template-rows: 3fr;
	grid-auto-flow: row;
	& span {
		font-size: 1.1rem;
		line-height: 1.4rem;
		color: $dark-color;
	}
}
@include devices(desktop-1) {
	.about {
		max-width: unset;
	}
}
@include devices(tablet) {
	.about--ts {
		grid-row-start: 1;
		grid-row-end: 2;
		flex-basis: unset;
		flex-grow: unset;
		width: 100%;
		background-color: $fourth-color;
		& span,
		h2,
		h3 {
			font-size: 1.1rem;
			margin-bottom: 0.7rem;
			color: $light-color;
		}
		a {
			color: #b09bf4;
		}
	}
}
@include devices(mobile) {
	.about--ts {
		& br {
			display: block;
			content: "";
			margin-top: 0;
		}
	}
}
