@import "./variable.scss";
// hover effect's animation
@keyframes stripsOut {
	0% {
		transform: scaleY(1);
	}
	33% {
		transform: scaleY(1.1);
		opacity: 1;
	}
	100% {
		transform: scaleY(0);
		opacity: 0;
	}
}
@keyframes zoomIn {
	0% {
		transform: scale(1);
	}
	28%,
	100% {
		transform: scale(1.05);
		z-index: 0;
	}
}
// animation classes for effect's animations
.zoom-in {
	transform: scale(1);
	animation: 200ms ease-in-out 350ms forwards zoomIn;
}
// animation classes for effect's animations
.strips-out {
	& > .figure--mask-1 {
		transform: ScaleX(0);
		transition: all 400ms ease;
	}
	& > .figure--mask-0,
	.figure--mask-2 {
		animation: 150ms ease 300ms forwards stripsOut;
	}
}
.strips-in {
	& > .figure--mask-0,
	.figure--mask-2 {
		transform: ScaleY(1);
		transition: 200ms ease 300ms;
	}
	& > .figure--mask-1 {
		transform: ScaleX(1);
		transition: all 400ms ease;
	}
}
// slider's animations
@keyframes slideRight {
	0% {
		transform: translateX(100%);
	}
	79% {
		transform: translateX(-1%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes slideLeft {
	0% {
		transform: translateX(-100%);
	}
	79% {
		transform: translateX(1%);
	}
	100% {
		transform: translateX(0);
	}
}
// animation classes for slider
.slide-right {
	animation: slideRight 400ms forwards;
}
.slide-left {
	animation: slideLeft 400ms forwards;
}
