@import "./variable.scss";
.cv {
	grid-area: 3/8/5/11;
	align-items: center;
	display: grid;
	justify-content: center;
	border-radius: 20px;
	background-color: $fourth-color;
	border: 10px solid $light-color;
	padding: 20px 0 10px;
	overflow: hidden;
	&-list {
		align-items: end;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 12fr 1fr;
		overflow: hidden;
		list-style-type: none;
		margin: 0;
		padding: 0 20px;
		height: 100%;
		&-infos {
			grid-column: 1;
			grid-row: 1;
			line-height: 1.2rem;
			transition: transform 200ms;
			height: 100%;
			& .cv-details {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				box-sizing: border-box;
				height: 100%;
				& .cv-detail-container {
					& > p {
						color: $light-color;
						margin: 0 0 1px;
						font-size: 1.1rem;
						font-weight: 400;
						font-variant: small-caps;
					}
				}
				& h4 {
					color: $light-color;
					display: inline-block;
					text-align: right;
					font-size: 1.6rem;
					margin: 0;
					font-family: $font-subtitle;
					font-variant: small-caps;
				}
			}
		}
	}
}
.active {
	transform: translateX(0);
}
.left {
	transform: translateX(-110%);
}
.right {
	transform: translateX(110%);
}
@include devices(mobile-2) {
	.cv--ts {
		grid-area: 10/1/12/1;
		margin-top: 2vh;
		border-radius: 0;
		border: none;
	}
}
@include devices(mobile-1) {
	.cv--ts {
		grid-area: 5/1/6/1;
		margin-top: 2vh;
		border-radius: 0;
		border: none;
	}
}
@include devices(desktop-1) {
	.cv {
		grid-area: 3/2/4/11;
	}
}
@include devices(desktop-2) {
	.cv {
		grid-area: 4/7/6/11;
	}
}
