@import "./variable.scss";
.description {
	display: flex;
	flex-direction: column;
	flex-basis: 500px;
	flex-grow: 9999;
	gap: 20px;
	padding: 20px;
	background-color: $primary-color;
	&-text {
		display: inline-block;
		font-size: 1.1rem;
		font-weight: 300;
		line-height: 1.6rem;
		& .upfront {
			font-weight: 400;
			font-size: 1.1rem;
		}
		& a {
			text-decoration: none;
			color: $sophie-color;
			font-family: $sophie-font;
		}
	}
}
@include devices(tablet-2) {
	.description--ts {
		grid-area: 3/1/7/2;
		max-width: 390px;
	}
}
@include devices(tablet-1) {
	.description--ts {
		grid-area: unset;
		grid-row-start: 3;
		grid-row-end: 4;
		max-width: unset;
		// background-color: $primary-color;
		// & .description-text {
		// 	color: $light-color;
		// 	& .upfront {
		// 		color: $light-color;
		// 	}
		// }
	}
}
@include devices(mobile) {
	.description--ts {
		display: none;
		grid-row-start: unset;
		grid-row-end: unset;
	}
}
