@import "./variable.scss";
.footer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50px;
	border-top: 1px solid $dark-color;
	& p {
		font-size: 1.1rem;
		font-weight: 500;
	}
	& .languages {
		position: absolute;
		right: 0;
		margin-right: 10px;
		display: flex;
		align-items: center;
		&-label {
			display: inline-block;
		}
		& .select-container {
			position: relative;
			min-width: 100px;
			& .languages-select {
				appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				width: 100%;
				border: none;
				font-family: $font-subtitle;
				background-color: $light-color;
				padding: 10px;
				cursor: pointer;
				&::after {
					background-color: $light-color;
				}
				& .language {
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					background-color: $light-color;
				}
			}
			&::before,
			&::after {
				--size: 0.3rem;
				position: absolute;
				content: "";
				right: 0;
				pointer-events: none;
			}

			&::before {
				border-left: var(--size) solid transparent;
				border-right: var(--size) solid transparent;
				border-bottom: var(--size) solid black;
				top: 40%;
			}

			&::after {
				border-left: var(--size) solid transparent;
				border-right: var(--size) solid transparent;
				border-top: var(--size) solid black;
				top: 55%;
			}
		}
	}
}
@include devices(desktop-1) {
	.footer {
		& .languages-label {
			display: none;
		}
	}
}
@include devices(tablet-2) {
	.footer--ts {
		margin-top: 7vh;
	}
}
@include devices(mobile) {
	.footer--ts {
		margin-top: 10px;
		& .languages-label {
			display: none;
		}
	}
}
