@import "./variable.scss";
.footer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50px;
	margin-top: 10px;
	border-top: 1px solid $dark-color;
	& .languages {
		position: absolute;
		right: 0;
		margin-right: 10px;
		&-select {
			display: inline-block;
			border: none;
			font-family: $font-subtitle;
			&::after {
				background-color: $light-color;
			}
			& .language {
				appearance: none;
				background-color: $light-color;
			}
		}
	}
}
@include devices(tablet) {
	.footer--ts {
		margin-top: 7%;
	}
}
@include devices(mobile) {
	.footer--ts {
		margin-top: 10px;
		& .languages-label {
			display: none;
		}
	}
}
@include devices(desktop-1) {
	.footer {
		& .languages-label {
			display: none;
		}
	}
}
