@import "./variable.scss";
* {
	font-family: $font-text;
	color: $dark-color;
	font-size: 1rem;
	// overflow-x: hidden;
	body {
		margin: 0 6%;
		background-color: $primary-color;
		& a {
			text-decoration: none;
			font-weight: bold;
		}
		& p {
			margin: 0;
		}
		& h1 {
			display: inline-block;
			font-family: $font-title;
			font-size: 2rem;
			margin: 0;
		}
		& h2 {
			display: inline-block;
			font-size: 1.1rem;
			margin: 0;
		}
		& h3 {
			display: inline-block;
			font-family: $font-cursive;
			margin: 0;
		}
		& .hide {
			display: none;
		}
	}
}
