@import "./variable.scss";
* {
	font-family: $font-text;
	font-weight: 300;
	color: $dark-color;
	font-size: 1rem;
	body {
		margin: 0 10%;
		max-width: 1200px;
		min-width: 450px;
		background-color: $light-color;
		& a {
			text-decoration: none;
			font-weight: bold;
		}
		& p {
			margin: 0;
		}
		& h1 {
			display: inline-block;
			font-family: $font-title;
			font-size: 2rem;
			margin: 0;
		}
		& h2 {
			display: inline;
			font-size: 1.1rem;
			font-weight: 600;
			margin: 0;
		}
		& h3 {
			display: inline;
			font-size: 1.3rem;
			font-family: $font-subtitle;
			margin: 0;
		}
		& h4 {
			display: inline-block;
			font-size: 1.2rem;
			font-weight: 500;
			margin: 0;
		}
		& .hide {
			display: none;
		}
	}
	@include devices(wide-screen) {
		.body--ws {
			margin: 0 auto;
		}
	}
	@include devices(tablet-2) {
		.body--ts {
			margin: 0 5%;
			min-width: unset;
			max-width: unset;
		}
	}
}
