@import "./variable.scss";
.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	height: 11vh;
	width: 100%;
	margin-top: 2vh;
	& .title {
		display: flex;
		flex-direction: column;
		margin: 0 0 0 10px;
		& .subtitle {
			text-align: right;
			&--ts {
				font-size: 0.9rem;
			}
		}
	}
	& nav {
		display: flex;
		margin-right: 10px;
		& a {
			& .icon {
				font-size: 2rem;
				margin-left: 10px;
				& > path {
					color: $dark-color;
				}
				&:hover {
					transform: scale(1.2);
					& > path {
						color: $third-color;
					}
				}
			}
		}
	}
	&--ts {
		height: 15vh;
	}
}
@include landscape {
	.header--ts {
		height: 24vh;
	}
}
