@import "./variable.scss";
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 11vh;
	width: 100%;
	& .title {
		display: flex;
		flex-direction: column;
		margin: 0 0 0 10px;
		& h2 {
			text-align: right;
		}
	}
	& nav {
		display: flex;
		margin-right: 10px;
		& a {
			& .icon {
				font-size: 2rem;
				margin-left: 10px;
				& > path {
					color: $dark-color;
				}
			}
		}
	}
}
.header-ts {
	height: 15vh;
}
@include devices(landscape) {
	.header-ts {
		height: 24vh;
	}
}
