@import "./variable.scss";
.home {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: 1fr;
	gap: 25px;
	margin: 0;
	& .square-background {
		position: absolute;
		top: 25%;
		left: 25%;
		width: 50%;
		height: 50%;
		z-index: -1;
		background-color: $primary-color;
		border-radius: 20px;
	}
	&-top {
		grid-row-start: 1;
		grid-row-end: 2;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		flex-wrap: wrap;
		width: 100%;
	}
}
@include devices(tablet) {
	.home--ts {
		overflow-x: hidden;
		// using 3 row allow the desired layout
		grid-template-rows: repeat(3, auto);
		gap: 7%;
	}
}
@include devices(mobile) {
	.home--ts {
		gap: 10px;
		& .square-background {
			display: none;
		}
	}
}
@include devices(desktop-1) {
	.home {
		gap: 0px;
	}
}
@include devices(wide-screen) {
	.home {
		height: calc(100vh - 50px);
	}
}
