@import "./variable.scss";
.home {
	display: grid;
	grid-template-rows: repeat(14, 1fr);
	grid-template-columns: repeat(11, 1fr);
	grid-auto-columns: 1fr;
	margin: 0;
	.square-background {
		grid-area: 5/3/11/10;
		z-index: -1;
		background-color: $primary-color;
		border-radius: 20px;
	}
	&-top {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	&-top--ts {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	&-bottom {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		&-left {
			width: 66%;
			&--ts {
				display: none;
			}
		}
	}
}
.home--ts {
	overflow-x: hidden;
	grid-template-rows: repeat(13, 1fr);
	grid-template-columns: 1fr;
	grid-auto-columns: unset;
}
