@import "./variable.scss";
@import "./animation.scss";
.projects {
	height: 44vh;
	width: 66%;
	display: flex;
	justify-content: flex-start;
	// margin-top: 8vh;
	margin-bottom: 8vh;
	& .project {
		position: relative;
		width: 100%;
		height: 100%;
		border-radius: 10px;
		border: 5px solid $light-color;
		padding: 10px;
		&--mask {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 0;
			width: inherit;
			height: inherit;
			border-radius: inherit;
			background-color: $fourth-color;
		}
		&-tip {
			position: absolute;
			display: flex;
			justify-content: flex-end;
			width: 90%;
			padding-top: 10px;
			align-items: center;
			& span {
				font-size: 1.1rem;
				color: $light-color;
			}
			&-icon {
				display: inline-block;
				margin-left: 10px;
				font-size: 2rem;
				& > path {
					color: $light-color;
				}
			}
		}
		&-figure {
			position: absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0px;
			box-sizing: border-box;
			width: inherit;
			height: inherit;
			border-radius: inherit;
			background-color: $fourth-color;
			// scale: 0.98;
			overflow: hidden;
			&-image {
				width: inherit;
				height: inherit;
				object-fit: cover;
				border-radius: inherit;
			}
			&-caption {
				position: absolute;
				top: 40px;
				left: 20px;
				width: 66%;
				height: fit-content;
				background-color: $light-color;
				box-shadow: 0 0 4px $primary-color;
				padding: 10px 20px;
				color: $dark-color;
				// text-align: center;
				// white-space: nowrap;
				font-size: 1.1rem;
			}
			&--masks {
				position: absolute;
				display: flex;
				flex-direction: column;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				& .figure--mask {
					width: 100%;
					height: calc(100% / 14);
					background-color: $dark-color;
					&:nth-child(odd) {
						transform-origin: right;
					}
					&:nth-child(even) {
						transform-origin: left;
						// background-color: $third-color;
					}
				}
			}
			@for $i from 0 through 4 {
				&--#{$i} {
					z-index: -1;
				}
			}
		}
	}
	& .projects-menu {
		list-style: none;
		width: 200px;
		margin: 0;
		padding-left: 20px;
		&-button {
			cursor: pointer;
			box-sizing: border-box;
			background-color: $fourth-color;
			color: $light-color;
			border: none;
			margin-bottom: 5px;
			padding: 10px;
			border-radius: 5px;
			// border: 1px solid $light-color;
			// box-shadow: 0 0 4px $fourth-color;
			transition: transform 175ms ease;
			transform-origin: left bottom;
			z-index: 11;
			&:hover {
				background-color: $primary-color;
				// border: 1px solid $light-color;
				// box-shadow: 0 0 4px $primary-color;
				transform: scale(1.4);
			}
		}
		@include project-button;
	}
}
// touch screen classes
.projects--ts {
	position: relative;
	width: 100%;
	height: 50vh;
	margin-top: 2vh;
	margin-bottom: 2vh;
	border-radius: 0;
	display: unset;
	& .project--ts {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 0;
		border: none;
		box-shadow: 0 0 8px $secondary-color;
		box-sizing: border-box;
		& .figure--ts {
			background-color: unset;
			padding: 0;
			overflow: unset;
			& .image--ts {
				border-radius: 0;
			}
			& .caption--ts {
				// display: flex;
				// align-items: center;
				top: 25px;
				left: 28px;
				white-space: unset;
				& .title--ts {
					display: flex;
					justify-content: flex-start;
					align-items: flex-end;
					& h4 {
						display: inline-block;
						margin: 0;
						font-family: $font-title;
					}
					& p {
						display: inline-block;
						margin-left: 5px;
						font-size: 1.2rem;
					}
				}
			}
		}
	}
	& .arrows--ts {
		position: absolute;
		width: 93%;
		display: flex;
		justify-content: space-between;
		& .arrow-icon--ts {
			display: inline-block;
			font-size: 3rem;
			& > path {
				color: $fourth-color;
			}
		}
	}
}
@include tablet {
	.projects--ts {
		height: 48vh;
		margin-top: 5vh;
		margin-bottom: 5vh;
		& .caption--ts {
			height: 20%;
		}
	}
}
@include landscape {
	.projects--ts {
		height: 48vh;
		margin-top: 5vh;
		margin-bottom: 5vh;
		& .caption--ts {
			width: 66%;
			height: 33%;
			overflow-y: hidden;
		}
	}
}
