@import "./variable.scss";
@import "./animation.scss";
.projects {
	height: 44vh;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	margin-top: 8vh;
	margin-bottom: 8vh;
	overflow: visible;
	& .project {
		position: relative;
		// !!!! change width regarding responsive 1280 1024 960 760 ... !!!!!!!!
		width: calc(74% - 30px);
		height: inherit;
		box-shadow: 6px 4px 4px -2px $third-color;
		border-radius: 10px;
		// use media querries to place the picture
		& .me-svg {
			position: absolute;
			width: 17%;
			top: 14vh;
			left: 42%;
		}
		& span {
			position: absolute;
			display: inline-block;
			width: 90%;
			font-family: $font-cursive;
			color: $third-color;
			padding-top: 10px;
			text-align: right;
			align-items: center;
			& .icon {
				margin-left: 10px;
				& > path {
					color: $third-color;
				}
			}
		}
		& .figure {
			transform-origin: top left;
			margin: 0;
			& img {
				width: 100%;
				height: inherit;
				border-radius: 10px;
				object-fit: cover;
			}
			& .caption {
				position: absolute;
				top: 20px;
				right: 20px;
				width: fit-content;
				background-color: $third-color;
				border-radius: 5px;
				border: 1px solid $fourth-color;
				padding: 10px 20px;
				color: $dark-color;
				text-align: center;
				white-space: nowrap;
			}
		}
		& .animation-in {
			animation: 400ms ease-out forwards slideIn;
		}
		& .animation-out {
			animation: 100ms ease-out forwards slideOut;
		}
		& .hide {
			display: none;
		}
	}
	& .projects-menu {
		list-style: none;
		width: 200px;
		margin: 0;
		padding-left: 20px;
		& li {
			& button {
				box-sizing: border-box;
				width: inherit;
				background-color: $third-color;
				color: $primary-color;
				border: none;
				margin-bottom: 5px;
				// margin: 0;
				padding: 10px;
				border-top-right-radius: 10px;
				border-bottom-left-radius: 10px;
			}
			& button:hover {
				background-color: $fourth-color;
				font-size: 1.1rem;
			}
			& .project-name-0 {
				font-family: $kasa-font;
				// border-top-right-radius: 10px;
			}
			& .project-name-0:hover {
				color: $kasa-color;
			}
			& .project-name-1 {
				font-family: $nina-font;
			}
			& .project-name-1:hover {
				color: $nina-color;
			}
			& .project-name-2 {
				font-family: $argent-font;
				// border-bottom-left-radius: 10px;
				// border-bottom-right-radius: 10px;
			}
			& .project-name-2:hover {
				color: $argent-color;
			}
		}
	}
}
.projects-ts {
	position: relative;
	height: 75vh;
	margin-top: 5vh;
	margin-bottom: 5vh;
	& .project-ts {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		box-shadow: none;
		& .figure-ts {
			transform-origin: center center;
			overflow: hidden;
			height: 100%;
			width: 100%;
			box-shadow: 0 0 8px $secondary-color;
			& .caption-ts {
				display: flex;
				align-items: center;
				bottom: 0;
				height: 25%;
				background-color: $light-color;
				& .caption-title {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					& h4 {
						display: inline-block;
						width: fit-content;
						padding: 0.1rem 0;
						margin: 0;
						font-family: $font-title;
					}
					& p {
						display: inline-block;
						padding: 0 0 0 5px;
						font-size: 1.2rem;
					}
					& .project-name-0 {
						font-family: $kasa-font;
						color: $kasa-color;
					}
					& .project-name-1 {
						font-family: $nina-font;
						color: $nina-color;
					}
					& .project-name-2 {
						font-family: $argent-font;
						color: $argent-color;
					}
				}
			}
		}
	}
	& .hide {
		display: none;
	}
	& .slide-right {
		animation: slideRight 400ms forwards;
	}
	& .slide-left {
		animation: slideLeft 400ms forwards;
	}
	& .arrows-ts {
		position: absolute;
		width: 93%;
		display: flex;
		justify-content: space-between;
		& .icon {
			display: inline-block;
			font-size: 3rem;
			& > path {
				color: $secondary-color;
			}
		}
	}
}
