@import "./variable.scss";
.selected {
	display: flex;
	width: 100%;
	height: 80vh;
	margin: 3vh 0;
	& > .square-background {
		position: absolute;
		z-index: -1;
		top: 29vh;
		left: 20%;
		width: 34%;
		height: 45vh;
		background-color: $primary-color;
		border-radius: 10%;
		margin: auto;
	}
	&-left {
		display: flex;
		flex-direction: column;
		width: 34%;
		height: 100%;
		padding: 20px;
		&-image {
			max-width: 390px;
			max-height: 390px;
			object-fit: cover;
			border: 3px solid $fourth-color;
			border-radius: 7px;
			&-hide {
				display: none;
			}
		}
	}
	&-right {
		width: 66%;
		max-height: fit-content;
		box-sizing: border-box;
		padding: 15px 20px 0 0;
		margin-left: 2px;
		overflow: auto;
		&-title {
			font-size: 2.5rem;
			margin: 0;
		}
		& h5 {
			font-family: $font-title;
			margin: 30px 0 10px;
		}
		& > p {
			font-weight: 300;
			font-size: 1.2rem;
			& > a:hover {
				color: $third-color;
			}
		}
		&-details,
		&-constraints {
			margin-top: 10px;
			text-align: justify;
			text-justify: inter-character;
		}
		&-tech {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			&-icon {
				font-size: 2rem;
				margin-top: 10px;
				& > path {
					color: #1f2328;
				}
			}
			&-name {
				font-size: 1rem;
			}
		}
		&-icons {
			position: sticky;
			display: flex;
			flex-direction: column;
			width: 100%;
			bottom: 0;
			align-items: flex-end;
			justify-content: center;
			box-sizing: border-box;
			&--ts {
				justify-content: center;
			}
			& .right-link {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 20px;
				transition: transform 175ms ease;
				transform-origin: bottom right;
				&-icon {
					margin-top: 10px;
					font-size: 1.9rem;
					& > path {
						color: $fourth-color;
					}
				}
				&:hover {
					transform: scale(1.1);
					& path {
						color: $third-color;
					}
				}
				& p {
					font-size: 0.8rem;
					color: $dark-color;
				}
			}
		}
	}
	&-right::-webkit-scrollbar {
		width: 4px;
	}

	&-right::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	&-right::-webkit-scrollbar-thumb {
		background: $fourth-color;
		border-radius: 2px;
	}

	&-right::-webkit-scrollbar-thumb:hover {
		background: $dark-color;
	}
}
@include devices(tablet) {
	.selected--ts {
		flex-direction: column;
		height: unset;
		margin: 0;
		& > .square-background {
			top: 25vh;
			left: 11%;
			width: 50%;
			height: 12.5%;
			border-radius: 5px;
			margin: auto;
		}
		& .selected-left--ts {
			width: 100%;
			height: fit-content;
			padding: 10px;
			& .selected-left-image--ts {
				display: none;
			}
			& .selected-left-links--ts {
				display: flex;
				justify-content: flex-start;
				width: 100%;
				box-sizing: border-box;
				margin-top: 20px;
				& .left-link {
					display: flex;
					flex-direction: column;
					align-items: center;
					box-sizing: content-box;
					height: fit-content;
					margin: 0 10px 0 0;
					transition: transform 175ms ease;
					transform-origin: bottom;
					&-icon {
						font-size: 2rem;
						& > path {
							color: $dark-color;
						}
					}
					&:hover {
						transform: scale(1.1);
					}
					& p {
						font-size: 0.8rem;
						color: $dark-color;
					}
				}
			}
		}
		& .selected-right--ts {
			width: 100%;
			padding: 10px;
			border-left: none;
			margin-left: 0;
			height: fit-content;
			max-height: unset;
		}
	}
}
@include devices(mobile) {
	.selected--ts {
		& > .square-background {
			top: 33vh;
			left: 11%;
			width: 75%;
			height: 10%;
			border-radius: 5px;
		}
	}
}
@include devices(desktop-1) {
	.selected {
		&-left {
			display: none;
		}
		&-right {
			width: 100%;
		}
	}
}
