@import "./variable.scss";
.selected {
	display: flex;
	width: 100%;
	height: 70vh;
	margin: 5vh 0;
	&-left {
		display: flex;
		flex-direction: column;
		width: 64%;
		height: 100%;
		&-image {
			width: 100%;
			height: 61vh;
			object-fit: cover;
			box-shadow: 0 0 8px $secondary-color;
			&-hide {
				display: none;
			}
		}
		&-links {
			display: flex;
			justify-content: flex-end;
			width: 100%;
			box-sizing: border-box;
			margin-top: 20px;
			&-link {
				display: flex;
				flex-direction: column;
				align-items: center;
				box-sizing: content-box;
				height: fit-content;
				margin: 0 10px;
				&-icon {
					font-size: 2rem;
				}
				&:hover {
					& > svg {
						& > path {
							color: $fourth-color;
						}
					}
					& p {
						color: $fourth-color;
					}
				}
				& p {
					font-size: 0.8rem;
				}
			}
		}
	}
	&-left--ts {
		width: 100%;
		height: fit-content;
	}
	&-right {
		width: 36%;
		max-height: fit-content;
		overflow-y: auto;
		box-sizing: border-box;
		padding: 10px;
		border-left: 1px solid $secondary-color;
		margin-left: 2px;
		&-title {
			font-size: 2rem;
			margin: 0;
			&-kasa {
				font-family: $kasa-font;
				color: $kasa-color;
			}
			&-nina {
				font-family: $nina-font;
				color: $nina-color;
			}
			&-argent {
				font-family: $argent-font;
				color: $argent-color;
			}
		}
		& h5 {
			font-family: $font-title;
			font-size: 0.8rem;
			margin: 30px 0 10px;
		}
		&-details {
			margin-top: 10px;
			text-align: justify;
		}
		&-constraints {
			margin-top: 10px;
			text-align: justify;
		}
		&-tech {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			&-icon {
				font-size: 2rem;
				margin-top: 10px;
				& > path {
					color: $secondary-color;
				}
			}
			&-name {
				font-size: 1rem;
			}
			& .fa-css3-alt > path {
				color: #039fda;
			}
			& .fa-figma > path {
				color: #eb4b1d;
			}
			& .fa-html5 > path {
				color: #dc4a25;
			}
			& .fa-square-js > path {
				color: #efd81a;
			}
			& .fa-react > path {
				color: #5ed2f3;
			}
			& .fa-sass > path {
				color: #c56494;
			}
		}
		&-return {
			position: sticky;
			display: flex;
			width: 100%;
			bottom: 0;
			justify-content: flex-end;
			box-sizing: border-box;
			&--ts {
				justify-content: center;
			}
			& .return-link {
				display: flex;
				flex-direction: column;
				align-items: center;
				&-icon {
					font-size: 1.8rem;
				}
				&:hover {
					& > svg {
						& > path {
							color: $fourth-color;
						}
					}
					& p {
						color: $fourth-color;
					}
				}
				& p {
					font-size: 0.8rem;
				}
			}
		}
	}
	&-right--ts {
		width: 100%;
		overflow-y: visible;
		padding: 10px;
		border-left: none;
		margin-left: 0;
		height: fit-content;
		max-height: unset;
	}
	&-right::-webkit-scrollbar {
		width: 4px;
	}

	&-right::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	&-right::-webkit-scrollbar-thumb {
		background: #888;
		border-radius: 2px;
	}

	&-right::-webkit-scrollbar-thumb:hover {
		background: $dark-color;
	}
}
.selected--ts {
	flex-direction: column;
	height: unset;
	margin: 0;
}
