@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&family=Courier+Prime&family=Gasoek+One&family=Inter:wght@400;900&family=Jost:wght@100;200;300&family=Montserrat:wght@700&family=Paytone+One&family=Raleway:wght@700&family=Shrikhand&display=swap"); // colors
$primary-color: #f7f8f9;
$secondary-color: #d5d5d5;
$third-color: #aac1f0;
$fourth-color: #3d3d3d;
$light-color: white;
$dark-color: #242424;
// font's variable
$font-text: "Jost", sans-serif;
$font-title: "Bowlby One", sans-serif;
$font-subtitle: "Paytone One", sans-serif;
$font-code: "Courier Prime", monospace;
// external sites fonts and colors
$booki-font: "Raleway", sans-serif;
$booki-color: #0164fc;
$ohmyfood-font: "Shrikhand", serif;
$ohmyfood-color: #101010;
$kasa-font: "Montserrat", sans-serif;
$kasa-color: #ff6060;
$nina-font: "Inter", sans-serif;
$nina-color: #212529;
$argent-font: "Montserrat", sans-serif;
$argent-color: #00bc77;
$open-font: "Inter", sans-sherif;
$open-color: #7450eb;
// external sites fonts and colors classes
.booki {
	font-family: $booki-font;
	color: $booki-color;
}
.ohmyfood {
	font-family: $ohmyfood-font;
	color: $ohmyfood-color;
}
.kasa {
	font-family: $kasa-font;
	color: $kasa-color;
}
.nina {
	font-family: $nina-font;
	color: $nina-color;
	font-weight: 400;
}
.argent {
	font-family: $argent-font;
	color: $argent-color;
}
.open {
	font-family: $open-font;
	color: $open-color;
	font-weight: 900;
	font-variant: small-caps;
	font-size: 1.2rem;
	&:hover {
		color: $third-color;
	}
}
// hover effect's classes
@mixin project-button {
	.booki--hover {
		font-family: $booki-font;
		&:hover {
			color: $booki-color;
		}
	}
	.ohmyfood--hover {
		font-family: $ohmyfood-font;
		&:hover {
			color: $ohmyfood-color;
		}
	}
	.kasa--hover {
		font-family: $kasa-font;
		&:hover {
			color: $kasa-color;
		}
	}
	.nina--hover {
		font-family: $nina-font;
		&:hover {
			color: $nina-color;
		}
	}
	.argent--hover {
		font-family: $argent-font;
		&:hover {
			color: $argent-color;
		}
	}
}
// awesome icons colors
.fa-css3-alt > path {
	color: #039fda;
}
.fa-figma > path {
	color: #eb4b1d;
}
.fa-font-awesome > path {
	color: #538dd6;
}
// used the global color instead
// .fa-github > path {
// 	color: #1f2328;
// }
.fa-html5 > path {
	color: #dc4a25;
}
.fa-square-js > path {
	color: #efd81a;
}
.fa-react > path {
	color: #5ed2f3;
}
.fa-sass > path {
	color: #c56494;
}
// outside links colors
.upfront {
	font-weight: 400;
}
.figma {
	color: #eb4b1d;
}
.upfront,
.figma {
	font-size: 1.2rem;
}
// media queries
@mixin devices($breakpoint) {
	@if $breakpoint == mobile {
		@media (max-width: 600px) and (hover: none) {
			@content;
		}
	}
	@if $breakpoint == tablet {
		@media (max-width: 1200px) and (hover: none) {
			@content;
		}
	}
	@if $breakpoint == desktop-1 {
		@media (max-width: 896px) and (hover: hover) {
			@content;
		}
	}
	@if $breakpoint == desktop-2 {
		@media (min-width: 896px) and (max-width: 1200px) and (hover: hover) {
			@content;
		}
	}
	@if $breakpoint == wide-screen {
		@media (min-width: 1200px) and (hover: hover) {
			@content;
		}
	}
}
