@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Didact+Gothic&family=Handlee&family=Inter&family=Montserrat:wght@700&display=swap");
@import "./animation.scss";
// colors
$primary-color: #fdf8f4;
$secondary-color: #e3e2db;
$third-color: #e3c08f;
$fourth-color: #ebd0ac;
$fifth-color: #de9a7e;
$light-color: white;
// tester des variantes de noir
$dark-color: #4e4e4e;
$font-text: "Didact Gothic", sans-serif;
$font-title: "Black Han Sans", sans-serif;
$font-cursive: "Handlee", cursive;
$font-kasa: "Montserrat", sans-serif;
$kasa-color: #ff6060;
$font-nina: "Inter", sans-serif;
$nina-color: #212529;
$font-argent: "Montserrat", sans-serif;
$argent-color: #00bc77;
