@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Didact+Gothic&family=Handlee&family=Inter&family=Montserrat:wght@700&display=swap");
@keyframes slideIn {
  0% {
    transform: Scale(0);
    opacity: 0;
  }
  25% {
    transform: translate(-25px, -10px) scale(0.96);
  }
  75% {
    transform: translate(0) scale(1.01);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slideOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  80% {
    transform: scale(0.96);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.76);
    opacity: 0;
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideIn {
  0% {
    transform: Scale(0);
    opacity: 0;
  }
  25% {
    transform: translate(-25px, -10px) scale(0.96);
  }
  75% {
    transform: translate(0) scale(1.01);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slideOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  80% {
    transform: scale(0.96);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.76);
    opacity: 0;
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.home .about-c {
  position: relative;
  z-index: 1;
  height: -moz-fit-content;
  height: fit-content;
  width: 90vw;
  background-color: #e3c08f;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 50px;
  padding: 25px;
}
.home .about-c .me-svg-c {
  position: absolute;
  width: 12vw;
  bottom: -135%;
  left: 0;
}
.home .projects-c {
  display: flex;
  justify-content: flex-end;
  width: 90vw;
  margin-top: 60px;
}
.home .projects-c .project-c {
  position: relative;
  box-shadow: 6px 4px 4px -2px #e3c08f;
  border-radius: 10px;
  width: 100vw;
  height: 300px;
}
.home .projects-c .project-c span {
  position: absolute;
  display: inline-block;
  width: 90vw;
  font-family: "Handlee", cursive;
  color: #e3c08f;
  padding-top: 10px;
  text-align: right;
  align-items: center;
}
.home .projects-c .project-c span .icon {
  margin-left: 10px;
}
.home .projects-c .project-c span .icon > path {
  color: #e3c08f;
}
.home .projects-c .project-c .figure-c {
  transform-origin: top left;
  margin: 0;
}
.home .projects-c .project-c .figure-c img {
  width: 100vw;
  height: 300px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .projects-c .project-c .figure-c figcaption {
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100vw;
  height: 25%;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  color: #4e4e4e;
}
.home .projects-c .project-c .animation-in {
  animation: 400ms ease-out forwards slideIn;
}
.home .projects-c .project-c .animation-out {
  animation: 100ms ease-out forwards slideOut;
}
.home .projects-c .project-c .hide {
  display: none;
}
.home .projects-c .projects-menu {
  list-style: none;
  margin: 0;
  padding-left: 10px;
}
.home .projects-c .projects-menu li button {
  width: 200px;
  background-color: #e3c08f;
  color: #fdf8f4;
  border: none;
  margin: 0;
  padding: 10px;
}
.home .projects-c .projects-menu li button:hover {
  background-color: #ebd0ac;
  font-size: 1.1rem;
}
.home .projects-c .projects-menu li .button-1 {
  font-family: "Montserrat", sans-serif;
  border-top-right-radius: 10px;
}
.home .projects-c .projects-menu li .button-1:hover {
  color: #ff6060;
}
.home .projects-c .projects-menu li .button-2 {
  font-family: "Inter", sans-serif;
}
.home .projects-c .projects-menu li .button-2:hover {
  color: #212529;
}
.home .projects-c .projects-menu li .button-3 {
  font-family: "Montserrat", sans-serif;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.home .projects-c .projects-menu li .button-3:hover {
  color: #00bc77;
}
.home .about-ts {
  position: relative;
  height: 90%;
  width: 93vw;
  background-color: #e3c08f;
  border-radius: 10px;
  margin-top: 50px;
  padding: 20px;
}
.home .about-ts .me-svg-ts {
  display: block;
  width: 33vw;
  margin: auto;
}
.home .projects-ts {
  position: relative;
  width: 93vw;
  margin-top: 40px;
}
.home .projects-ts .project-ts .figure-ts {
  position: absolute;
  width: 100vw;
  margin: 0;
  box-shadow: 0 0 8px #e3e2db;
  transition: opacity 1s;
}
.home .projects-ts .project-ts .figure-ts-hide {
  opacity: 0;
}
.home .projects-ts .project-ts .figure-ts-move-right {
  animation: slide-right 1s forwards;
}
.home .projects-ts .project-ts .figure-ts-move-left {
  animation: slide-left 1s forwards;
}
.home .projects-ts .project-ts .figure-ts img {
  height: 100%;
  width: 100vw;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .projects-ts .project-ts .figure-ts figcaption {
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100vw;
  height: 25%;
  background-color: #fdf8f4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  color: #4e4e4e;
}
.home .projects-ts .project-ts .arrows-ts {
  position: absolute;
  width: 100vw;
  bottom: -50%;
  display: flex;
  justify-content: space-between;
}
.home .projects-ts .project-ts .arrows-ts .icon {
  display: inline-block;
  font-size: 2.5rem;
}
.home .projects-ts .project-ts .arrows-ts .icon > path {
  color: #e3e2db;
}/*# sourceMappingURL=Home.css.map */