@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Didact+Gothic&family=Handlee&family=Inter&family=Montserrat:wght@700&family=Raleway:wght@700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Didact+Gothic&family=Handlee&family=Inter&family=Montserrat:wght@700&family=Raleway:wght@700&family=Shrikhand&display=swap");
.fa-css3-alt > path {
  color: #039fda;
}

.fa-figma > path {
  color: #eb4b1d;
}

.fa-font-awesome > path {
  color: #538dd6;
}

.fa-github > path {
  color: #1f2328;
}

.fa-html5 > path {
  color: #dc4a25;
}

.fa-square-js > path {
  color: #efd81a;
}

.fa-react > path {
  color: #5ed2f3;
}

.fa-sass > path {
  color: #c56494;
}

.booki {
  font-family: "Raleway", sans-serif;
  color: #0164fc;
}

.ohmyfood {
  font-family: "Shrikhand", serif;
  color: #101010;
}

.kasa {
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
}

.nina {
  font-family: "Inter", sans-serif;
  color: #212529;
}

.argent {
  font-family: "Montserrat", sans-serif;
  color: #00bc77;
}

.fa-css3-alt > path {
  color: #039fda;
}

.fa-figma > path {
  color: #eb4b1d;
}

.fa-font-awesome > path {
  color: #538dd6;
}

.fa-github > path {
  color: #1f2328;
}

.fa-html5 > path {
  color: #dc4a25;
}

.fa-square-js > path {
  color: #efd81a;
}

.fa-react > path {
  color: #5ed2f3;
}

.fa-sass > path {
  color: #c56494;
}

.booki {
  font-family: "Raleway", sans-serif;
  color: #0164fc;
}

.ohmyfood {
  font-family: "Shrikhand", serif;
  color: #101010;
}

.kasa {
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
}

.nina {
  font-family: "Inter", sans-serif;
  color: #212529;
}

.argent {
  font-family: "Montserrat", sans-serif;
  color: #00bc77;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1.01);
  }
}
@keyframes fadeOut {
  0%, 75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.zoom-in {
  z-index: 0;
  transform: scale(1);
  box-shadow: 0 0 4px #e3e2db;
  animation: 300ms ease-in-out 150ms forwards zoomIn;
}

.strips-out > * {
  transform: scaleX(0) scaleY(0);
  transition: all 800ms ease;
  z-index: 1;
}

.strips-in > * {
  transform: scaleX(1);
  transition: all 400ms ease;
  z-index: 1;
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
  }
  79% {
    transform: translateX(-1%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }
  79% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(0);
  }
}
.slide-right {
  animation: slideRight 400ms forwards;
}

.slide-left {
  animation: slideLeft 400ms forwards;
}

.projects {
  height: 44vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 8vh;
  margin-bottom: 8vh;
}
.projects .project {
  position: relative;
  width: calc(74% - 30px);
  height: inherit;
  border-radius: 20px;
}
.projects .project--mask {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: #fdf8f4;
}
.projects .project-tip {
  position: absolute;
  display: inline-block;
  width: 90%;
  font-family: "Handlee", cursive;
  color: #e3c08f;
  padding-top: 10px;
  text-align: right;
  align-items: center;
}
.projects .project-tip-icon {
  margin-left: 10px;
}
.projects .project-tip-icon > path {
  color: #e3c08f;
}
.projects .project-figure {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  scale: 0.98;
  border-radius: 20px;
}
.projects .project-figure-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects .project-figure-caption {
  position: absolute;
  top: 40px;
  left: 40px;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white;
  box-shadow: 0 0 8px #e3e2db;
  padding: 10px 20px;
  color: #4e4e4e;
  text-align: center;
  white-space: nowrap;
  font-size: 1.1rem;
}
.projects .project-figure--masks {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.projects .project-figure--masks .figure--mask {
  width: 100%;
  height: 2.5%;
  background-color: #ebd0ac;
}
.projects .project-figure--masks .figure--mask:nth-child(odd) {
  transform-origin: right;
}
.projects .project-figure--masks .figure--mask:nth-child(even) {
  transform-origin: left;
}
.projects .project-figure--1 {
  z-index: -1;
}
.projects .project-figure--2 {
  z-index: -1;
}
.projects .project-figure--3 {
  z-index: -1;
}
.projects .project-figure--4 {
  z-index: -1;
}
.projects .project-figure--5 {
  z-index: -1;
}
.projects .projects-menu {
  list-style: none;
  width: 200px;
  margin: 0;
  padding-left: 20px;
}
.projects .projects-menu-button {
  box-sizing: border-box;
  background-color: #e3c08f;
  color: #fdf8f4;
  border: none;
  margin-bottom: 5px;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 8px #e3e2db;
  transition: transform 175ms ease;
  z-index: 11;
}
.projects .projects-menu-button:hover {
  background-color: #ebd0ac;
  transform: scale(1.35);
}
.projects .projects-menu .booki--hover {
  font-family: "Raleway", sans-serif;
}
.projects .projects-menu .booki--hover:hover {
  color: #0164fc;
}
.projects .projects-menu .ohmyfood--hover {
  font-family: "Shrikhand", serif;
}
.projects .projects-menu .ohmyfood--hover:hover {
  color: #101010;
}
.projects .projects-menu .kasa--hover {
  font-family: "Montserrat", sans-serif;
}
.projects .projects-menu .kasa--hover:hover {
  color: #ff6060;
}
.projects .projects-menu .nina--hover {
  font-family: "Inter", sans-serif;
}
.projects .projects-menu .nina--hover:hover {
  color: #212529;
}
.projects .projects-menu .argent--hover {
  font-family: "Montserrat", sans-serif;
}
.projects .projects-menu .argent--hover:hover {
  color: #00bc77;
}

.projects--ts {
  position: relative;
  height: 40vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.projects--ts .project--ts {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 0;
}
.projects--ts .project--ts .figure--ts {
  transform-origin: center center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 8px #e3e2db;
  box-sizing: border-box;
}
.projects--ts .project--ts .figure--ts .image--ts {
  border-radius: 0;
}
.projects--ts .project--ts .figure--ts .caption--ts {
  display: flex;
  align-items: center;
  top: 25px;
  right: 0;
  width: 84%;
  height: 33%;
  background-color: white;
  box-sizing: border-box;
  white-space: unset;
  text-align: left;
  border-radius: 0;
  border-right: unset;
}
.projects--ts .project--ts .figure--ts .caption--ts .title--ts {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.projects--ts .project--ts .figure--ts .caption--ts .title--ts h4 {
  display: inline-block;
  margin: 0;
  font-family: "Black Han Sans", sans-serif;
}
.projects--ts .project--ts .figure--ts .caption--ts .title--ts p {
  display: inline-block;
  margin-left: 5px;
  font-size: 1.2rem;
}
.projects--ts .arrows--ts {
  position: absolute;
  width: 96%;
  display: flex;
  justify-content: space-between;
}
.projects--ts .arrows--ts .arrow-icon--ts {
  display: inline-block;
  font-size: 3rem;
}
.projects--ts .arrows--ts .arrow-icon--ts > path {
  color: #fdf8f4;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .projects--ts {
    height: 48vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .projects--ts .caption--ts {
    height: 20%;
  }
}
@media (orientation: landscape) {
  .projects--ts {
    height: 48vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .projects--ts .caption--ts {
    width: 66%;
    height: 33%;
    overflow-y: hidden;
  }
}/*# sourceMappingURL=projects.css.map */