@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&family=Gasoek+One&family=Inter:wght@400;900&family=Jost:wght@100;200;300&family=Montserrat:wght@700&family=Paytone+One&family=Raleway:wght@700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&family=Gasoek+One&family=Inter:wght@400;900&family=Jost:wght@100;200;300&family=Montserrat:wght@700&family=Paytone+One&family=Raleway:wght@700&family=Shrikhand&display=swap");
.fa-css3-alt > path {
  color: #039fda;
}

.fa-figma > path {
  color: #eb4b1d;
}

.fa-font-awesome > path {
  color: #538dd6;
}

.fa-html5 > path {
  color: #dc4a25;
}

.fa-square-js > path {
  color: #efd81a;
}

.fa-react > path {
  color: #5ed2f3;
}

.fa-sass > path {
  color: #c56494;
}

.booki {
  font-family: "Raleway", sans-serif;
  color: #0164fc;
}

.ohmyfood {
  font-family: "Shrikhand", serif;
  color: #101010;
}

.kasa {
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
}

.nina {
  font-family: "Inter", sans-serif;
  color: #212529;
  font-weight: 400;
}

.argent {
  font-family: "Montserrat", sans-serif;
  color: #00bc77;
}

.open {
  font-family: "Inter", sans-sherif;
  color: #7450eb;
  font-weight: 900;
  font-variant: small-caps;
  font-size: 1.2rem;
}
.open:hover {
  color: #3f72af;
}

.fa-css3-alt > path {
  color: #039fda;
}

.fa-figma > path {
  color: #eb4b1d;
}

.fa-font-awesome > path {
  color: #538dd6;
}

.fa-html5 > path {
  color: #dc4a25;
}

.fa-square-js > path {
  color: #efd81a;
}

.fa-react > path {
  color: #5ed2f3;
}

.fa-sass > path {
  color: #c56494;
}

.booki {
  font-family: "Raleway", sans-serif;
  color: #0164fc;
}

.ohmyfood {
  font-family: "Shrikhand", serif;
  color: #101010;
}

.kasa {
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
}

.nina {
  font-family: "Inter", sans-serif;
  color: #212529;
  font-weight: 400;
}

.argent {
  font-family: "Montserrat", sans-serif;
  color: #00bc77;
}

.open {
  font-family: "Inter", sans-sherif;
  color: #7450eb;
  font-weight: 900;
  font-variant: small-caps;
  font-size: 1.2rem;
}
.open:hover {
  color: #3f72af;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  28%, 100% {
    transform: scale(1.02);
  }
}
.zoom-in {
  z-index: 0;
  transform: scale(1);
  animation: 500ms ease-in-out 200ms forwards zoomIn;
}

.strips-out > * {
  transform: scaleX(0) scaleY(0);
  transition: all 800ms ease;
  z-index: 1;
}

.strips-in > * {
  transform: scaleX(1);
  transition: all 400ms ease;
  z-index: 1;
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
  }
  79% {
    transform: translateX(-1%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }
  79% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(0);
  }
}
.slide-right {
  animation: slideRight 400ms forwards;
}

.slide-left {
  animation: slideLeft 400ms forwards;
}

.projects {
  height: 44vh;
  width: 66%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8vh;
}
.projects .project {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 5px solid white;
  padding: 10px;
}
.projects .project--mask {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: #3f72af;
}
.projects .project-tip {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 90%;
  padding-top: 10px;
  align-items: center;
}
.projects .project-tip span {
  font-size: 1.1rem;
  color: white;
}
.projects .project-tip-icon {
  display: inline-block;
  margin-left: 10px;
  font-size: 2rem;
}
.projects .project-tip-icon > path {
  color: white;
}
.projects .project-figure {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: #3f72af;
  overflow: hidden;
}
.projects .project-figure-image {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}
.projects .project-figure-caption {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 66%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  box-shadow: 0 0 4px #f9f7f7;
  padding: 10px 20px;
  color: #09192c;
  font-size: 1.1rem;
}
.projects .project-figure--masks {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.projects .project-figure--masks .figure--mask {
  width: 100%;
  height: 7.1428571429%;
  background-color: #09192c;
}
.projects .project-figure--masks .figure--mask:nth-child(odd) {
  transform-origin: right;
}
.projects .project-figure--masks .figure--mask:nth-child(even) {
  transform-origin: left;
}
.projects .project-figure--0 {
  z-index: -1;
}
.projects .project-figure--1 {
  z-index: -1;
}
.projects .project-figure--2 {
  z-index: -1;
}
.projects .project-figure--3 {
  z-index: -1;
}
.projects .project-figure--4 {
  z-index: -1;
}
.projects .projects-menu {
  list-style: none;
  width: 200px;
  margin: 0;
  padding-left: 20px;
}
.projects .projects-menu-button {
  cursor: pointer;
  box-sizing: border-box;
  background-color: #3f72af;
  color: white;
  border: none;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  transition: transform 175ms ease;
  transform-origin: left bottom;
  z-index: 11;
}
.projects .projects-menu-button:hover {
  background-color: #f9f7f7;
  transform: scale(1.4);
}
.projects .projects-menu .booki--hover {
  font-family: "Raleway", sans-serif;
}
.projects .projects-menu .booki--hover:hover {
  color: #0164fc;
}
.projects .projects-menu .ohmyfood--hover {
  font-family: "Shrikhand", serif;
}
.projects .projects-menu .ohmyfood--hover:hover {
  color: #101010;
}
.projects .projects-menu .kasa--hover {
  font-family: "Montserrat", sans-serif;
}
.projects .projects-menu .kasa--hover:hover {
  color: #ff6060;
}
.projects .projects-menu .nina--hover {
  font-family: "Inter", sans-serif;
}
.projects .projects-menu .nina--hover:hover {
  color: #212529;
}
.projects .projects-menu .argent--hover {
  font-family: "Montserrat", sans-serif;
}
.projects .projects-menu .argent--hover:hover {
  color: #00bc77;
}

.projects--ts {
  position: relative;
  width: 100%;
  height: 50vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border-radius: 0;
  display: unset;
}
.projects--ts .project--ts {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  border: none;
  box-shadow: 0 0 8px #e8dfca;
  box-sizing: border-box;
}
.projects--ts .project--ts .figure--ts {
  background-color: unset;
  padding: 0;
  overflow: unset;
}
.projects--ts .project--ts .figure--ts .image--ts {
  border-radius: 0;
}
.projects--ts .project--ts .figure--ts .caption--ts {
  top: 25px;
  left: 28px;
  white-space: unset;
}
.projects--ts .project--ts .figure--ts .caption--ts .title--ts {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.projects--ts .project--ts .figure--ts .caption--ts .title--ts h4 {
  display: inline-block;
  margin: 0;
  font-family: "Bowlby One", sans-serif;
}
.projects--ts .project--ts .figure--ts .caption--ts .title--ts p {
  display: inline-block;
  margin-left: 5px;
  font-size: 1.2rem;
}
.projects--ts .arrows--ts {
  position: absolute;
  width: 93%;
  display: flex;
  justify-content: space-between;
}
.projects--ts .arrows--ts .arrow-icon--ts {
  display: inline-block;
  font-size: 3rem;
}
.projects--ts .arrows--ts .arrow-icon--ts > path {
  color: #3f72af;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .projects--ts {
    height: 48vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .projects--ts .caption--ts {
    height: 20%;
  }
}
@media (orientation: landscape) {
  .projects--ts {
    height: 48vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .projects--ts .caption--ts {
    width: 66%;
    height: 33%;
    overflow-y: hidden;
  }
}/*# sourceMappingURL=projects.css.map */