@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&family=Gasoek+One&family=Inter:wght@400;900&family=Jost:wght@100;200;300&family=Montserrat:wght@700&family=Paytone+One&family=Raleway:wght@700&family=Shrikhand&display=swap");
.booki {
  font-family: "Raleway", sans-serif;
  color: #0164fc;
}

.ohmyfood {
  font-family: "Shrikhand", serif;
  color: #101010;
}

.kasa {
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
}

.nina {
  font-family: "Inter", sans-serif;
  color: #212529;
  font-weight: 400;
}

.argent {
  font-family: "Montserrat", sans-serif;
  color: #00bc77;
}

.open {
  font-family: "Inter", sans-sherif;
  color: #7450eb;
  font-weight: 900;
  font-variant: small-caps;
  font-size: 1.2rem;
}
.open:hover {
  color: #3d3d3d;
}

.fa-css3-alt > path {
  color: #039fda;
}

.fa-figma > path {
  color: #eb4b1d;
}

.fa-font-awesome > path {
  color: #538dd6;
}

.fa-html5 > path {
  color: #dc4a25;
}

.fa-square-js > path {
  color: #efd81a;
}

.fa-react > path {
  color: #5ed2f3;
}

.fa-sass > path {
  color: #c56494;
}

.selected {
  display: flex;
  width: 100%;
  height: 80vh;
  margin: 3vh 0;
}
.selected > .square-background {
  position: absolute;
  z-index: -1;
  top: 29vh;
  left: 20%;
  width: 34%;
  height: 45vh;
  background-color: #f7f8f9;
  border-radius: 10%;
  margin: auto;
}
.selected--ts {
  flex-direction: column;
  height: unset;
  margin: 0;
}
.selected-left {
  display: flex;
  flex-direction: column;
  width: 34%;
  height: 100%;
  padding: 20px;
}
.selected-left-image {
  width: 100%;
  height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #3d3d3d;
  border-radius: 7px;
}
.selected-left-image--ts {
  display: none;
}
.selected-left-image-hide {
  display: none;
}
.selected-left--ts {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
}
.selected-left-links--ts {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
}
.selected-left-links--ts .left-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: content-box;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 10px 0 0;
  transition: transform 175ms ease;
  transform-origin: bottom;
}
.selected-left-links--ts .left-link-icon {
  font-size: 2rem;
}
.selected-left-links--ts .left-link-icon > path {
  color: #242424;
}
.selected-left-links--ts .left-link:hover {
  transform: scale(1.1);
}
.selected-left-links--ts .left-link p {
  font-size: 0.8rem;
  color: #242424;
}
.selected-right {
  width: 66%;
  max-height: -moz-fit-content;
  max-height: fit-content;
  box-sizing: border-box;
  padding: 15px 10px 0;
  margin-left: 2px;
  overflow: auto;
}
.selected-right-title {
  font-size: 2rem;
  margin: 0;
}
.selected-right h5 {
  font-family: "Bowlby One", sans-serif;
  font-size: 0.8rem;
  margin: 30px 0 10px;
}
.selected-right-details {
  margin-top: 10px;
  text-align: justify;
}
.selected-right-constraints {
  margin-top: 10px;
  text-align: justify;
}
.selected-right-tech {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.selected-right-tech-icon {
  font-size: 2rem;
  margin-top: 10px;
}
.selected-right-tech-icon > path {
  color: #1f2328;
}
.selected-right-tech-name {
  font-size: 1rem;
}
.selected-right-icons {
  position: sticky;
  display: flex;
  flex-direction: column;
  width: 100%;
  bottom: 0;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
}
.selected-right-icons--ts {
  justify-content: center;
}
.selected-right-icons .right-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20px;
  transition: transform 175ms ease;
  transform-origin: bottom right;
}
.selected-right-icons .right-link-icon {
  margin-top: 10px;
  font-size: 1.8rem;
}
.selected-right-icons .right-link-icon > path {
  color: #3d3d3d;
}
.selected-right-icons .right-link:hover {
  transform: scale(1.1);
}
.selected-right-icons .right-link:hover path {
  color: #aac1f0;
}
.selected-right-icons .right-link p {
  font-size: 0.8rem;
  color: #242424;
}
.selected-right--ts {
  width: 100%;
  padding: 10px;
  border-left: none;
  margin-left: 0;
  height: -moz-fit-content;
  height: fit-content;
  max-height: unset;
}
.selected-right::-webkit-scrollbar {
  width: 4px;
}
.selected-right::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.selected-right::-webkit-scrollbar-thumb {
  background: #3d3d3d;
  border-radius: 2px;
}
.selected-right::-webkit-scrollbar-thumb:hover {
  background: #242424;
}/*# sourceMappingURL=Project.css.map */