@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&family=Courier+Prime&family=Gasoek+One&family=Inter:wght@400;900&family=Jost:wght@100;200;300;500&family=Montserrat:wght@700&family=Paytone+One&family=Raleway:wght@700&family=Shrikhand&family=Syne:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&family=Courier+Prime&family=Gasoek+One&family=Inter:wght@400;900&family=Jost:wght@100;200;300;500&family=Montserrat:wght@700&family=Paytone+One&family=Raleway:wght@700&family=Shrikhand&family=Syne:wght@500&display=swap");
.booki {
  font-family: "Raleway", sans-serif;
  color: #0164fc;
}

.ohmyfood {
  font-family: "Shrikhand", serif;
  color: #101010;
}

.menumaker {
  font-family: "Montserrat", sans-serif;
  color: #0d0d0d;
}

.kasa {
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
}

.nina {
  font-family: "Inter", sans-serif;
  color: #212529;
  font-weight: 400;
}

.argent {
  font-family: "Montserrat", sans-serif;
  color: #00bc77;
}

.open {
  font-family: "Inter", sans-sherif;
  color: #7450eb;
  font-weight: 900;
  font-variant: small-caps;
  font-size: 1.2rem;
}
.open:hover {
  color: #aac1f0;
}

.fa-css3-alt > path {
  color: #039fda;
}

.fa-figma > path {
  color: #eb4b1d;
}

.fa-font-awesome > path {
  color: #538dd6;
}

.fa-html5 > path {
  color: #dc4a25;
}

.fa-square-js > path {
  color: #efd81a;
}

.fa-react > path {
  color: #5ed2f3;
}

.fa-sass > path {
  color: #c56494;
}

.booki {
  font-family: "Raleway", sans-serif;
  color: #0164fc;
}

.ohmyfood {
  font-family: "Shrikhand", serif;
  color: #101010;
}

.menumaker {
  font-family: "Montserrat", sans-serif;
  color: #0d0d0d;
}

.kasa {
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
}

.nina {
  font-family: "Inter", sans-serif;
  color: #212529;
  font-weight: 400;
}

.argent {
  font-family: "Montserrat", sans-serif;
  color: #00bc77;
}

.open {
  font-family: "Inter", sans-sherif;
  color: #7450eb;
  font-weight: 900;
  font-variant: small-caps;
  font-size: 1.2rem;
}
.open:hover {
  color: #aac1f0;
}

.fa-css3-alt > path {
  color: #039fda;
}

.fa-figma > path {
  color: #eb4b1d;
}

.fa-font-awesome > path {
  color: #538dd6;
}

.fa-html5 > path {
  color: #dc4a25;
}

.fa-square-js > path {
  color: #efd81a;
}

.fa-react > path {
  color: #5ed2f3;
}

.fa-sass > path {
  color: #c56494;
}
@keyframes stripsOut {
  0% {
    transform: scaleY(1);
  }
  33% {
    transform: scaleY(1.1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
@keyframes zoomIn {
  0% {
    transform: scaleY(1);
  }
  28%, 100% {
    transform: scaleY(1.05) scaleX(1);
    z-index: 0;
  }
}
.zoom-in {
  transform: scale(1);
  animation: 200ms ease-in-out 350ms forwards zoomIn;
}

.strips-out > .figure--mask-1 {
  transform: ScaleX(0);
  transition: all 400ms ease;
}
.strips-out > .figure--mask-0,
.strips-out .figure--mask-2 {
  animation: 150ms ease 300ms forwards stripsOut;
}

.strips-in > .figure--mask-0,
.strips-in .figure--mask-2 {
  transform: ScaleY(1);
  transition: 200ms ease 300ms;
}
.strips-in > .figure--mask-1 {
  transform: ScaleX(1);
  transition: all 400ms ease;
}
@keyframes slideRight {
  0% {
    transform: translateX(100%);
  }
  79% {
    transform: translateX(-1%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }
  79% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(0);
  }
}
.slide-right {
  animation: slideRight 400ms forwards;
}

.slide-left {
  animation: slideLeft 400ms forwards;
}

.projects {
  flex-basis: 515px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
}
.projects .project {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: clip;
  padding: 10px;
  flex-basis: 330px;
  height: 330px;
  flex-grow: 9999;
  box-sizing: border-box;
  border: 2px solid #3d3d3d;
}
.projects .project-tip {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 25px;
}
.projects .project-tip span {
  font-size: 0.9rem;
  color: white;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
}
.projects .project-tip .code--blue {
  color: cyan;
}
.projects .project-tip .code--gold {
  color: darkgoldenrod;
}
.projects .project-tip .code--green {
  color: green;
}
.projects .project-tip .code--orange {
  color: orange;
}
.projects .project-tip .code--purple {
  color: blueviolet;
}
.projects .project-tip .code--red {
  color: red;
}
.projects .project-tip .code--yellow {
  color: yellow;
}
.projects .project-tip .code--gold {
  color: darkgoldenrod;
}
.projects .project-figure {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0px;
  overflow: clip;
  width: 100%;
}
.projects .project-figure-image {
  -o-object-fit: cover;
  object-fit: cover;
}
.projects .project-figure-caption {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 74%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  box-shadow: 0 0 2px #3d3d3d;
  padding: 10px 20px;
  color: #242424;
  font-size: 1.1rem;
}
.projects .project-figure--masks {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  grid-area: inherit;
  width: 100%;
  height: 100%;
}
.projects .project-figure--masks .figure--mask {
  width: 100%;
  background-color: #3d3d3d;
  z-index: 1;
}
.projects .project-figure--masks .figure--mask-0 {
  transform-origin: top;
  height: 8%;
}
.projects .project-figure--masks .figure--mask-1 {
  transform-origin: right;
  height: 19%;
}
.projects .project-figure--masks .figure--mask-2 {
  transform-origin: bottom;
  height: 73%;
}
.projects .project-figure--0 {
  z-index: -1;
}
.projects .project-figure--1 {
  z-index: -1;
}
.projects .project-figure--2 {
  z-index: -1;
}
.projects .project-figure--3 {
  z-index: -1;
}
.projects .project-figure--4 {
  z-index: -1;
}
.projects .project-figure--5 {
  z-index: -1;
}
.projects .projects-menu {
  flex-basis: 100px;
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  gap: 5px;
}
.projects .projects-menu-button {
  position: relative;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #aac1f0;
  color: white;
  border: none;
  padding: 10px;
  transition: transform 175ms ease 50ms;
  transform-origin: right bottom;
  overflow: hidden;
}
.projects .projects-menu-button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 300ms;
  z-index: -1;
  background-color: white;
}
.projects .projects-menu-button:hover {
  transform: scale(1.1);
}
.projects .projects-menu-button:hover::before {
  opacity: 0.75;
}
.projects .projects-menu .booki--hover {
  font-family: "Raleway", sans-serif;
}
.projects .projects-menu .booki--hover:hover {
  color: #0164fc;
}
.projects .projects-menu .ohmyfood--hover {
  font-family: "Shrikhand", serif;
}
.projects .projects-menu .ohmyfood--hover:hover {
  color: #101010;
}
.projects .projects-menu .menumaker--hover {
  font-family: "Montserrat", sans-serif;
}
.projects .projects-menu .menumaker--hover:hover {
  color: #0d0d0d;
}
.projects .projects-menu .kasa--hover {
  font-family: "Montserrat", sans-serif;
}
.projects .projects-menu .kasa--hover:hover {
  color: #ff6060;
}
.projects .projects-menu .nina--hover {
  font-family: "Inter", sans-serif;
}
.projects .projects-menu .nina--hover:hover {
  color: #212529;
}
.projects .projects-menu .argent--hover {
  font-family: "Montserrat", sans-serif;
}
.projects .projects-menu .argent--hover:hover {
  color: #00bc77;
}

@media (max-width: 895px) and (hover: hover) {
  .projects .project {
    min-width: 100%;
  }
  .projects .projects-menu {
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding: 0;
    gap: 5px;
  }
  .projects .projects-menu-list {
    flex-grow: 1;
  }
  .projects .projects-menu-button {
    width: 100%;
    transform-origin: center bottom;
  }
  .projects .projects-menu-button:hover {
    transform: scale(1.12);
  }
}
@media (max-width: 1370px) and (hover: none) {
  .projects--ts {
    grid-area: 2/1/3/3;
    flex-basis: unset;
    flex-grow: unset;
    width: 100%;
    border: 1px solid #f7f8f9;
    box-sizing: border-box;
  }
  .projects--ts .project--ts {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    border: unset;
    border: 1px solid #d5d5d5;
  }
  .projects--ts .project--ts .figure--ts {
    background-color: unset;
    padding: 0;
    box-sizing: border-box;
  }
  .projects--ts .project--ts .figure--ts::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  }
  .projects--ts .project--ts .figure--ts .caption--ts {
    top: 25px;
    left: 28px;
    font-size: 1.3rem;
    white-space: unset;
  }
  .projects--ts .project--ts .figure--ts .caption--ts .title--ts {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .projects--ts .project--ts .figure--ts .caption--ts .title--ts h4 {
    display: inline-block;
    margin: 0;
    font-family: "Bowlby One", sans-serif;
  }
  .projects--ts .project--ts .figure--ts .caption--ts .title--ts p {
    display: inline-block;
    margin-left: 5px;
    font-size: 1.2rem;
  }
  .projects--ts .project--ts .bullets--ts {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 10px;
  }
  .projects--ts .project--ts .bullets--ts .bullet--ts {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #d5d5d5;
    transform: scale(1);
    transition: transform 400ms ease;
  }
  .projects--ts .project--ts .bullets--ts .bullet-active--ts {
    background-color: #3d3d3d;
    border-color: #3d3d3d;
    transform: scale(1.75);
  }
}
@media (max-width: 1023px) and (hover: none) {
  .projects--ts {
    grid-area: unset;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
@media (max-width: 599px) and (hover: none) {
  .projects--ts {
    grid-row-start: 2;
    grid-row-end: 3;
  }
}/*# sourceMappingURL=projects.css.map */