@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&family=Courier+Prime&family=Gasoek+One&family=Inter:wght@400;900&family=Jost:wght@100;200;300;500&family=Montserrat:wght@700&family=Paytone+One&family=Raleway:wght@700&family=Shrikhand&family=Syne:wght@500&display=swap");
.booki {
  font-family: "Raleway", sans-serif;
  color: #0164fc;
}

.ohmyfood {
  font-family: "Shrikhand", serif;
  color: #101010;
}

.kasa {
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
}

.nina {
  font-family: "Inter", sans-serif;
  color: #212529;
  font-weight: 400;
}

.argent {
  font-family: "Montserrat", sans-serif;
  color: #00bc77;
}

.open {
  font-family: "Inter", sans-sherif;
  color: #7450eb;
  font-weight: 900;
  font-variant: small-caps;
  font-size: 1.2rem;
}
.open:hover {
  color: #aac1f0;
}

.fa-css3-alt > path {
  color: #039fda;
}

.fa-figma > path {
  color: #eb4b1d;
}

.fa-font-awesome > path {
  color: #538dd6;
}

.fa-html5 > path {
  color: #dc4a25;
}

.fa-square-js > path {
  color: #efd81a;
}

.fa-react > path {
  color: #5ed2f3;
}

.fa-sass > path {
  color: #c56494;
}

.selected {
  position: relative;
  display: flex;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 3vh 0;
}
.selected > .square-background {
  position: absolute;
  z-index: -1;
  top: 15vh;
  left: 15%;
  max-width: 330px;
  width: 100%;
  height: 330px;
  background-color: #f7f8f9;
  border-radius: 5px;
  margin: auto;
}
.selected-left {
  width: 34%;
  height: 100%;
  padding: 20px;
}
.selected-left-image {
  max-width: 100%;
  min-height: 330px;
  -o-object-fit: cover;
  object-fit: cover;
  border: 2px solid #3d3d3d;
  border-radius: 5px;
}
.selected-left-image-hide {
  display: none;
}
.selected-right {
  width: 66%;
  max-height: -moz-fit-content;
  max-height: fit-content;
  box-sizing: border-box;
  padding: 15px 20px 0 0;
  margin-left: 2px;
}
.selected-right-title {
  font-size: 2.5rem;
  margin: 0;
}
.selected-right h5 {
  font-family: "Bowlby One", sans-serif;
  margin: 30px 0 10px;
}
.selected-right-details, .selected-right-constraints {
  margin-top: 10px;
  text-align: justify;
  font-weight: 300;
  font-size: 1.2rem;
}
.selected-right-details > a:hover, .selected-right-constraints > a:hover {
  color: #aac1f0;
}
.selected-right-details .upfront, .selected-right-constraints .upfront {
  font-weight: 500;
}
.selected-right-details .figma, .selected-right-constraints .figma {
  color: #eb4b1d;
}
.selected-right-details .upfront,
.selected-right-details .figma, .selected-right-constraints .upfront,
.selected-right-constraints .figma {
  font-size: 1.2rem;
}
.selected-right-tech {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.selected-right-tech-icon {
  font-size: 2rem;
  margin-top: 10px;
}
.selected-right-tech-icon > path {
  color: #1f2328;
}
.selected-right-tech-name {
  font-size: 1rem;
}
.selected-right-icons {
  position: sticky;
  display: flex;
  flex-direction: column;
  width: 100%;
  bottom: 20px;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
}
.selected-right-icons .right-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20px;
  transition: transform 175ms ease;
  transform-origin: bottom right;
}
.selected-right-icons .right-link-icon {
  margin-top: 10px;
  font-size: 1.9rem;
}
.selected-right-icons .right-link-icon > path {
  color: #3d3d3d;
}
.selected-right-icons .right-link:hover {
  transform: scale(1.1);
}
.selected-right-icons .right-link:hover path {
  color: #aac1f0;
}
.selected-right-icons .right-link p {
  font-size: 0.8rem;
  color: #242424;
}

@media (min-width: 1199px) and (hover: hover) {
  .selected .square-background {
    top: 13vh;
    left: 12%;
  }
}
@media (max-width: 895px) and (hover: hover) {
  .selected {
    position: unset;
  }
  .selected .square-background {
    display: none;
  }
  .selected-left {
    display: none;
  }
  .selected-right {
    width: 100%;
  }
}
@media (max-width: 1279px) and (hover: none) {
  .selected--ts {
    position: unset;
    flex-direction: column;
    height: unset;
  }
  .selected--ts .square-background {
    display: none;
  }
  .selected--ts .selected-left--ts {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
  }
  .selected--ts .selected-left--ts .selected-left-image--ts {
    display: none;
  }
  .selected--ts .selected-left--ts .selected-left-links--ts {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
  }
  .selected--ts .selected-left--ts .selected-left-links--ts .left-link--ts {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 15px 0 0;
    transition: transform 175ms ease;
    transform-origin: bottom;
  }
  .selected--ts .selected-left--ts .selected-left-links--ts .left-link--ts .left-link-icon--ts {
    font-size: 2.25rem;
  }
  .selected--ts .selected-left--ts .selected-left-links--ts .left-link--ts .left-link-icon--ts > path {
    color: #242424;
  }
  .selected--ts .selected-left--ts .selected-left-links--ts .left-link--ts:hover {
    transform: scale(1.1);
  }
  .selected--ts .selected-left--ts .selected-left-links--ts .left-link--ts p {
    font-size: 0.8rem;
    color: #242424;
  }
  .selected--ts .selected-right--ts {
    width: 100%;
    padding: 10px;
    border-left: none;
    margin-left: 0;
    height: -moz-fit-content;
    height: fit-content;
    max-height: unset;
    padding: unset;
  }
  .selected--ts .selected-right--ts .selected-right-icons--ts {
    position: unset;
    width: 100%;
    align-items: center;
  }
}/*# sourceMappingURL=Project.css.map */