@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Didact+Gothic&family=Handlee&family=Inter&family=Montserrat:wght@700&family=Raleway:wght@700&family=Shrikhand&display=swap");
.fa-css3-alt > path {
  color: #039fda;
}

.fa-figma > path {
  color: #eb4b1d;
}

.fa-font-awesome > path {
  color: #538dd6;
}

.fa-github > path {
  color: #1f2328;
}

.fa-html5 > path {
  color: #dc4a25;
}

.fa-square-js > path {
  color: #efd81a;
}

.fa-react > path {
  color: #5ed2f3;
}

.fa-sass > path {
  color: #c56494;
}

.booki {
  font-family: "Raleway", sans-serif;
  color: #0164fc;
}

.ohmyfood {
  font-family: "Shrikhand", serif;
  color: #101010;
}

.kasa {
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
}

.nina {
  font-family: "Inter", sans-serif;
  color: #212529;
}

.argent {
  font-family: "Montserrat", sans-serif;
  color: #00bc77;
}

.selected {
  display: flex;
  width: 100%;
  height: 70vh;
  margin: 5vh 0;
}
.selected-left {
  display: flex;
  flex-direction: column;
  width: 64%;
  height: 100%;
}
.selected-left-image {
  width: 100%;
  height: 61vh;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 0 8px #e3e2db;
}
.selected-left-image-hide {
  display: none;
}
.selected-left-links {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
}
.selected-left-links-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: content-box;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 10px;
  transition: transform 175ms ease;
}
.selected-left-links-link-icon {
  font-size: 2rem;
}
.selected-left-links-link:hover {
  transform: scale(1.4);
}
.selected-left-links-link:hover > svg > path {
  color: #ebd0ac;
}
.selected-left-links-link:hover p {
  color: #ebd0ac;
}
.selected-left-links-link p {
  font-size: 0.8rem;
}
.selected-left--ts {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.selected-right {
  width: 36%;
  max-height: -moz-fit-content;
  max-height: fit-content;
  box-sizing: border-box;
  padding: 10px;
  border-left: 1px solid #e3e2db;
  margin-left: 2px;
  overflow: auto;
}
.selected-right-title {
  font-size: 2rem;
  margin: 0;
}
.selected-right h5 {
  font-family: "Black Han Sans", sans-serif;
  font-size: 0.8rem;
  margin: 30px 0 10px;
}
.selected-right-details {
  margin-top: 10px;
  text-align: justify;
}
.selected-right-constraints {
  margin-top: 10px;
  text-align: justify;
}
.selected-right-tech {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.selected-right-tech-icon {
  font-size: 2rem;
  margin-top: 10px;
}
.selected-right-tech-icon > path {
  color: #e3e2db;
}
.selected-right-tech-name {
  font-size: 1rem;
}
.selected-right-return {
  position: sticky;
  display: flex;
  width: 100%;
  bottom: 0;
  justify-content: flex-end;
  box-sizing: border-box;
}
.selected-right-return--ts {
  justify-content: center;
}
.selected-right-return .return-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 175ms ease;
}
.selected-right-return .return-link-icon {
  font-size: 1.8rem;
}
.selected-right-return .return-link:hover {
  transform: scale(1.3);
}
.selected-right-return .return-link:hover > svg > path {
  color: #ebd0ac;
}
.selected-right-return .return-link:hover p {
  color: #ebd0ac;
}
.selected-right-return .return-link p {
  font-size: 0.8rem;
}
.selected-right--ts {
  width: 100%;
  padding: 10px;
  border-left: none;
  margin-left: 0;
  height: -moz-fit-content;
  height: fit-content;
  max-height: unset;
}
.selected-right::-webkit-scrollbar {
  width: 4px;
}
.selected-right::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.selected-right::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}
.selected-right::-webkit-scrollbar-thumb:hover {
  background: #4e4e4e;
}

.selected--ts {
  flex-direction: column;
  height: unset;
  margin: 0;
}/*# sourceMappingURL=Project.css.map */